@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Biblioteka Miejska</h1>
    <p class="lead"> Nowa funkcja Rezerwowanie książek. Od teraz po zalogowaniu można rezerwowac ksiazke z listy dostepnych tytułów. </p>
</div>